@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}

@* to check authorization *@
<div class="d-flex justify-content-center gap-2">
    <a class="btn btn-info" asp-controller="Dashboard" asp-action="AdminDashboard">admin</a>
    <a class="btn btn-info" asp-controller="Dashboard" asp-action="StudentDashboard">user</a>
</div>