@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Student Dashboard";
}

<div class="d-flex justify-content-end pt-2 gap-2">
     <a class="btn btn-primary" asp-controller="Student" asp-action="MyCourse">My Course</a>
    <a class="btn btn-primary" asp-controller="Student" asp-action="Profile">Profile</a>
</div>



<div class="container-fluid p-4">
    <div class="search-div pb-2 d-flex justify-content-between">
        <h1>Course List</h1>
        <input id="search-course-student" type="search" placeholder="Search" class="w-20 p-1" />
    </div>

    <div class="shadow-lg p-2 rounded">
        <div class="table-responsive p-3">
            <table class="table w-100">
                <thead>
                    <tr class="border-bottom border-dark">
                        <th class="fw-bold text-start text-nowrap">
                            <div class="d-flex">
                                <span>#Course Id</span>
                                <i class="bi bi-arrow-up sortable-asc" data-name="Id"></i>
                                <i class="bi bi-arrow-down sortable-desc" data-name="Id"></i>
                            </div>
                        </th>
                        <th class="fw-bold text-center">
                            <div class="d-flex">
                                <span>Course Name</span>
                                <i class="bi bi-arrow-up sortable-asc" data-name="Name"></i>
                                <i class="bi bi-arrow-down sortable-desc" data-name="Name"></i>
                            </div>
                        </th>
                        <th class="fw-bold text-start">Content</th>
                        <th class="fw-bold text-start">Credits</th>
                        <th class="fw-bold text-start">
                            <div class="d-flex">
                                <span>Department</span>
                                <i class="bi bi-arrow-up sortable-asc" data-name="Department"></i>
                                <i class="bi bi-arrow-down sortable-desc" data-name="Department"></i>
                            </div>
                        </th>
                        <th class="fw-bold text-center">Available</th>
                        <th class="fw-bold text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="courseList-student">

                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end gap-2 p-3 pt-0 bg-white align-items-center">
            <span>Items Per page:</span>
            <select id="select-CoursePerPage-student" class="px-3 py-1 border border-secondary">
                <option value="1" selected>1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
            <span id="pagination-info-course-student"></span>
            <i id="left-course-arrow-student"
                class="fa-solid fa-angle-left btn border border-dark bg-light ms-2 d-flex align-items-center"></i>
            <i id="right-course-arrow-student" class="fa-solid fa-angle-right btn border border-dark bg-light ms-2"></i>
        </div>
    </div>
</div>


@* Enroll modal *@
<div class="modal" tabindex="-1" data-bs-backdrop="static" id="enrollCourse">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-secondary">Enroll Course Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fw-bold text-secondary text-center">Are you sure you want to Enroll this Course ?</p>
            </div>
            <form method="post" id="EnrollCourseForm">
                <input type="hidden" id="enrollCourseId" />
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary fw-bold">Yes</button>
                    <button type="button" class="btn btn-light fw-bold text-primary border border-primary"
                        data-bs-dismiss="modal" id="CourseEnrollCancel">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* scripts *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var search = "";
    var sortColumn = "Name";
    var sortDirection = "asc";
    var pageNumber = 1;
    var pageSize = 1;

    function loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize) {
        $.ajax({
            url: "/Course/GetCourseListStudent",
            type: "GET",
            data: { search: search, sortColumn: sortColumn, sortDirection: sortDirection, pageNumber: pageNumber, pageSize: pageSize },
            success: function (data) {
                $("#courseList-student").html(data);
                pageNumber = pageNumber;

                let totalRecords = parseInt($('#totalRecords_course').val()) || 0;
                let startItem = totalRecords === 0 ? 0 : (pageNumber - 1) * pageSize + 1;
                let endItem = Math.min(pageNumber * pageSize, totalRecords);

                if (totalRecords === 0) {
                    $("#pagination-info-course-student").text("No Data Found");
                } else {
                    $("#pagination-info-course-student").text("Showing " + startItem + " - " + endItem + " of " + totalRecords + " items");
                }

                $("#left-course-arrow-student").prop("disabled", pageNumber === 1);
                $("#right-course-arrow-student").prop("disabled", pageNumber * pageSize >= totalRecords);
            }
        });
    }

    $(document).ready(function () {
        $("#search-course-student").on("keyup", function () {
            search = $(this).val().trim();
            pageNumber = 1;
            loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
        });

        $(".sortable-asc").on('click', function () {
            sortDirection = "asc";
            sortColumn = $(this).data('name');
            loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
        });

        $(".sortable-desc").on('click', function () {
            sortDirection = "desc";
            sortColumn = $(this).data('name');
            loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
        });

        $("#select-CoursePerPage-student").on("change", function () {
            pageSize = $(this).val();
            pageNumber = 1;
            loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
        });

        $("#right-course-arrow-student").on("click", function () {
            if (!$(this).prop("disabled")) {
                pageNumber++;
                loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
            }
        });

        $("#left-course-arrow-student").on("click", function () {
            if (!$(this).prop("disabled")) {
                pageNumber--;
                loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
            }
        });

        loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
    });

    function enrollIdFetch(enrollCourseId) {
        $('#enrollCourseId').val(enrollCourseId);
    }

    function EnrollCourse(enrollCourseId) {

        $.ajax({
            url: "/Course/EnrollCourse",
            type: "POST",
            data: { courseId: enrollCourseId },
            success: function (data) {
                if(data.success != false){
                    loadCourseStudent(search, sortColumn, sortDirection, pageNumber, pageSize);
                    $('#CourseEnrollCancel').click();
                    callSuccessToaster(data.message);
                }else{
                    callErrorToaster(data.message);
                    $('#CourseEnrollCancel').click();

                }
            }
        });

    }

    $('#EnrollCourseForm').on('submit', function (event) {
        event.preventDefault();
        var enrollCourseId = $('#enrollCourseId').val();
        EnrollCourse(enrollCourseId);
    });
</script>