@model DataAccessLayer.ViewModels.UserCredViewModel;
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Log in</h3>
                        <form asp-action="VerifyUser" asp-controller="UserCred" class="cred-form">
                            <div class="login-user-div mb-3 form-group">
                                <input asp-for="Email" type="email" class="input form-control d-inline"
                                    style="width: 90% !important;" id="email" placeholder="Email*" />
                                <i class="bi bi-person-fill" style="margin: -25px;"></i>
                            </div>
                            <div class="text-start pt-0 ps-4 pb-2"><span asp-validation-for="Email" class="text-danger " id="email-error-txt"></span></div>

                            <div class="login-pass-div mb-3 form-group">
                                <input asp-for="Password" class="form-control input d-inline" type="password"
                                    id="password" style="width: 90% !important;" placeholder="Password*" />
                                <i class="bi bi-eye-slash" id="togglePassword" style="margin: -25px;"></i>
                            </div>
                            <div class="text-start pt-0 ps-4 pb-2"><span asp-validation-for="Password" class="text-danger" id="pass-error-txt"></span></div>

                            <!-- Checkbox -->
                            <div class="login-forgot-div d-flex align-items-center justify-content-between form-group">
                                <div></div>
                                <div class="form-check-inline">
                                    <label asp-for="RememberMe" class="form-check-label">
                                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" /> Remember
                                        me
                                    </label>
                                </div>
                            </div>

                            <div class="mt-3 form-group d-flex justify-content-end ">   
                                <input type="submit" class="login-btn btn btn-primary me-2" onclick="" style="width:90% !important;" value="Login" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {

    <script>
        function redirectToForgotPassword() {
            var email = document.getElementById('email').value;
            window.location.href = '/UserCred/ForgotPassword?email=' + encodeURIComponent(email);
        }

        togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        if (togglePassword) {
            togglePassword.addEventListener('click', () => {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                togglePassword.classList.toggle('bi-eye');
            });
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
