@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Unauthorized";
}

<div class="container-fluid vw-100 vh-100 d-flex align-items-center" style="background-color: rgb(207 233 243);">
    <div class="row d-flex align-items-center col-12">
        <div class="col-12 d-flex justify-content-center">
            <span class="ms-2 fs-1 fw-bold text-primary">AssessmentProject</span>
        </div>
        <div class="col-12 text-primary d-flex justify-content-center" style="font-size: 200px;">
            403
        </div>
        <div class="col-12 d-flex justify-content-center" style="font-size: 30px;">
            Forbidden
        </div>
        <div class="col-12 d-flex justify-content-center text-primary mt-4">
           Oops, you are Forbidden here.
        </div>
    </div>
</div>